# CIA World Factbook Analysis

Let's analyze the CIA World Factbook.  This database contains a compendium of statistics about all the countries on Earth.

The data file is a SQLite database, factbook.db, from the following [Github repository](https://github.com/factbook/factbook.sql/releases).

We'll begin this analysis by querying the database for all the tables contained within it:

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("factbook.db")
query = "SELECT * FROM sqlite_master WHERE type='table';"

print(pd.read_sql_query(query, conn)

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,facts,facts,47,"CREATE TABLE ""facts"" (""id"" INTEGER PRIMARY KEY..."